


.Part {
    display: inline-flex;
}
.Text{
    margin-right: 10px;
}

.Box{
    float: left;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.Head {
    color: rgb(179, 34, 236);
}